<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DocDoc</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="/static/img/favicon.png">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/fonts/icomoon/style.css">
	<link rel="stylesheet" href="/static/css/sesion.css">
</head>
<body>

	<div class="main">
		<div id="logo">
			<a href="/">
				<img src="/static/img/favicon.png" alt="DocDoc">
			</a>
		</div>
		<div class="actions">
			<button id="btnConfig" class="btnConfig" title="Configuracion">
				<span class="icon-pencil-square"></span>
			</button>
		</div>

		<div class="video local mini">
			<video id="videoLocal" autoplay playsinline></video>
		</div>
		<div class="video remote">
			<video id="videoRemote" autoplay playsinline></video>
		</div>

		<div id="select" class="signal">
			Sleccione
			<select name="user" id="user">
				<option value="">Sleccione</option>
				<option value="coach">Usuario 1</option>
				<option value="client">Usuario 2</option>
			</select>
		</div>

		
		<div id="coach" class="signal" style="display:none">
			<div class="enableroom">
				<p>Bienvenid@ por favor haz click en el siguiente botón para habilitar la sala.</p>
				<button id="enableRoom" class="btn success">Habilitar sala</button>
			</div>
			<div class="waitfor" style="display:none;">
				<p> Esperando a: <b>Usuario 2</b></p>
			</div>
		</div>
		
		<div id="client" class="signal" style="display:none">
			<div class="waitfor">
				<p> Esperando a: Usuario 1</p>
			</div>
			<div class="startCall" style="display:none;">
				<p>El Usuario 1 te espera.</p>
				<button id="startCall" class="btn success">Entrar a la sala</button>
			</div>
		</div>

		<div id="botones">
			<div>
				<button id="btnMicro" disabled> 
					<span class="icon-microphone" disabled></span> 
				</button>
			</div>
			<div>
				<button id="btnHungup" class="close" disabled>
					<span class="icon-cross" disabled></span> 
				</button>
			</div>
			<div>
				<button id="btnVideo" disabled> 
					<span class="icon-video-camera" ></span> 
				</button>
			</div>
			<div>
				<button id="btnShare" disabled title="Compartir pantalla"> 
					<span class="icon-screen_share"></span>
				</button>
			</div>
		</div>

		<div id="signalingArea" style="display:none;"></div>
	</div>
    

	<div id="popupConfig" class="popup">
		<div class="content">
			<header>
				<div class="col col2">
					<div>
						<img src="/static/img/favicon.png" alt="DocDoc">
					</div>
					<div class="text-right">
						<button class="close closePopup" title="close" data-popup="popupConfig">
							<span class="icon-cross"></span>
						</button>
					</div>
				</div>
			</header>
			<section class="main">
				<div>
					<h2>A tener en cuenta</h2>
					<label for="">Video / Cámara</label>
					<select name="videoInput" id="videoInput"></select>
					<br>
					<br>
					<label for="">Audio / Micrófono</label>
					<select name="audioInput" id="audioInput"></select>
					<br>
					<br>
				</div>
				<div class="text-right">
					<button id="btnFinalize" class="btn success"> Continuar </button>
					<button class="btn closePopup" data-popup="popupConfig"> Cancelar </button>
				</div>
			</section>
		</div>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/static/js/adapter.js"></script>

	<script>
		var config =  {
    		iceServers: [
				{% for item in token %}
				{
					url: '{{ item.url }}',
					urls:  '{{ item.urls }}',
					{% if item.username %}
						username: '{{ item.username }}',
						credential: '{{ item.credential }}'
					{% endif %}
				},
				{% endfor %}
			]
		};


		var SIGNAL_ROOM = "room_webrtc";
		var me = {
			id: '10',
			name: 'Usuario 1',
			type: 'client',
			status: 'disable'
		};
		var other = {
			id: '11',
			name: 'Usuario 2',
			type: 'coach',
			status: 'disable'
		};


		var typeUser = document.querySelector('#user');
		typeUser.addEventListener('change', function(){
			var value = document.querySelector('#user').value;
			if( value == 'coach'){
				me = other;
				document.querySelector('#coach').style.display = 'block';
			}else if(value == 'client'){
				document.querySelector('#client').style.display = 'block';
			}

			document.querySelector('#select').style.display = 'none';
			init();

		});
	</script>
	
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mobile-detect@1.4.4/mobile-detect.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.js"></script>

	<script src="/static/js/sesion/handlerbuttons.js"></script>
	<script src="/static/js/sesion/iolistener.js"></script>
	<script src="/static/js/sesion/iosignaling.js"></script>
	<script src="/static/js/sesion/createpeer.js"></script>
	<script src="/static/js/sesion/main.js"></script>
	<script src="/static/js/sesion_api.js?ver=2.10.20"></script>
	
	{#
	<script src="/static/js/sesion_verify.js?ver=2.10.20"></script>
	<script src="/static/js/sesion_config.js?ver=2.10.20"></script>
	<script src="/static/js/sesion.js?ver=2.10.20"></script>
	#}

	{# 
		var OSName="Unknown OS";
		if (navigator.appVersion.indexOf("Win")!=-1) OSName="Windows";
		if (navigator.appVersion.indexOf("Mac")!=-1) OSName="MacOS";
		if (navigator.appVersion.indexOf("X11")!=-1) OSName="UNIX";
		if (navigator.appVersion.indexOf("Linux")!=-1) OSName="Linux";

		document.write('Your OS: '+OSName);

		function getMobileOperatingSystem() {
		  var userAgent = navigator.userAgent || navigator.vendor || window.opera;

		      // Windows Phone must come first because its UA also contains "Android"
		    if (/windows phone/i.test(userAgent)) {
		        return "Windows Phone";
		    }

		    if (/android/i.test(userAgent)) {
		        return "Android";
		    }

		    // iOS detection from: http://stackoverflow.com/a/9039885/177710
		    if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
		        return "iOS";
		    }

		    return "unknown";
		}
	#}

</body></html>