<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DocDoc</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="/static/img/favicon.png">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/fonts/icomoon/style.css">
	<link rel="stylesheet" href="/static/css/sesion.css?v=1">
	<link rel="stylesheet" href="/static/css/receta.css">
</head>
<body>
	<div class="main">
		<div id="logo">
			<a href="/">
				<img src="/static/img/favicon.png" alt="DocDoc">
			</a>
		</div>
		<div class="actions">
			{% if (me.type == 'coach') and (emite_receta == true) and (recetario != null) %}
			<button class="btnReceta" title="Receta">
				<span class="icon-clipboard-list"></span>
			</button>
			{% endif %}
			<button class="btnInfo" title="Información">
				<span class="icon-user"></span>
			</button>
			<button class="btnQuiz" title="Cuestionario">
				<span class="icon-pencil-square"></span>
			</button>
		</div>

		{% if (me.type == 'coach') and (emite_receta == true) %}
			{% include 'sesion/partial_receta.html' %}
		{% endif %}

		<div class="video local mini">
			<video id="videoLocal" autoplay playsinline></video>
		</div>
		<div class="video remote">
			<video id="videoRemote" autoplay playsinline></video>
		</div>

		{% if me.type == 'coach' %}
		<div class="signal">
			<div class="enableroom">
				<p>Bienvenid@ por favor haz click en el siguiente botón para habilitar la sala.</p>
				<button id="enableRoom" class="btn success">Habilitar sala</button>
			</div>
			<div class="waitfor" style="display:none;">
				<p> Esperando que se conecte: <b>{{ other.name }}</b></p>
				<div>
					<a href="https://wa.me/{{ other.country_code}}{{ other.phone }}?text=DocDoc%20te%20esperamos%20en%20la%20sesion%3A%20https%3A%2F%2Fdocdoc.net%2Fsesion%2F{{ room }}"
					target="_blank" class="btn success makeRemember">
						<span class="icon-whatsapp"></span>
						Hazle recuerdo
					</a>
				</div>
			</div>
		</div>
		{% else %}
		<div class="signal">
			<div class="waitfor">
				<p> Esperando al dr(a) {{ other.name }}</p>
				<div>
					<a href="https://wa.me/{{ other.country_code}}{{ other.phone }}?text=DocDoc%20te%20esperamos%20en%20la%20sesion%3A%20https%3A%2F%2Fdocdoc.net%2Fsesion%2F{{ room }}" 
					target="_blank" class="btn success makeRemember"> 
						<span class="icon-whatsapp"></span>
						Hazle recuerdo
					</a>
				</div>
			</div>
			<div class="startCall" style="display:none;">
				<p>El dr(a) {{ other.name }} te espera.</p>
				<button id="startCall" class="btn success">Entrar a la sala</button>
			</div>
		</div>
		{% endif %}

		<div id="botones">
			<div>
				<button id="btnMicro" disabled title="Micrófono"> 
					<span class="icon-microphone" disabled></span> 
				</button>
			</div>
			<div>
				<button id="btnHungup" disabled class="close"  title="Finalizar">
					<span class="icon-cross" disabled></span> 
				</button>
			</div>
			<div>
				<button id="btnVideo" disabled title="Video"> 
					<span class="icon-video-camera" ></span> 
				</button>
			</div>
			{% if me.type == 'coach' %}
			<div>
				<button id="btnShare" disabled title="Compartir pantalla"> 
					<span class="icon-screen_share"></span>
				</button>
			</div>
			{% endif %}
			<div>
				<button id="btnReconect" disabled title="Reconectar"> 
					<span class="icon-refresh"></span>
				</button>
			</div>
		</div>

		<div id="signalingArea" style="display:none;"></div>
	</div>

	<div id="popupFinalize" class="popup">
		<div class="content">
			<header>
				<div class="col col2">
					<div>
						<img src="/static/img/logo.png" alt="DocDoc">
					</div>
					<div class="text-right">
						<button class="close closePopup" title="close" data-popup="popupFinalize">
							<span class="icon-cross"></span>
						</button>
					</div>
				</div>
			</header>
			<section class="main">
				<div>
					<h2>A tener en cuenta</h2>
					<p>
						Cuando presiona el botón de finalizar. <br>
						La sesión habrá terminado y no podrá volver a ingresar a esta sesión.
					</p>
					<p>
						En caso de algún percance sólo vuelva a cargar la página o cierra la misma para ingresar en otro momento.
					</p>
					<p>
						Para finalizar la sesión definitivamente presiona el botón "Continuar", caso contrario presione el botón "Cancelar".
					</p>
					<br>
				</div>
				<div class="text-right">
					<button id="btnFinalize" class="btn success"> Continuar </button>
					<button class="btn closePopup" data-popup="popupFinalize"> Cancelar </button>
				</div>
			</section>
		</div>
	</div>
    
	<script src="/socket.io/socket.io.js"></script>
	<script src="/static/js/lib/adapter.js"></script>
	<script>
		var config =  {
    		iceServers: [
				{% for item in token %}
				{
					url: '{{ item.url }}',
					urls:  '{{ item.urls }}',
					{% if item.username %}
						username: '{{ item.username }}',
						credential: '{{ item.credential }}'
					{% endif %}
				},
				{% endfor %}
			]
		};

		var DOMAIN = "{{ domain }}";
		var SIGNAL_ROOM = "{{ room }}";
		var me = {
			id: '{{ me.id }}',
			name: '{{ me.name }}',
			type: '{{ me.type }}',
			status: 'disable'
		};
		var other = {
			id: '{{ other.id }}',
			name: '{{ other.name }}',
			type: '{{ other.type }}',
			status: 'disable'
		};
	</script>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script src="/static/js/sesion_info.js?v=1"></script>
	<script src="/static/js/sesion/modal.js"></script>
	<script src="/static/js/sesion/handlerbuttons.js"></script>
	<script src="/static/js/sesion/iolistener.js"></script>
	<script src="/static/js/sesion/iosignaling.js"></script>
	<script src="/static/js/sesion/createpeer.js"></script>
	<script src="/static/js/sesion/main.js"></script>
	<script src="/static/js/receta.js?v=1"></script>
	<script src="/static/js/sesion_api.js?v=1"></script>

</body>
</html>